img{
	max-width: 100%;
	height: auto;
}
.pic{
	max-height: 200px;
}
.gallery .pic{
	opacity: 0;
	transition: all .5s;
	/*transform: scale3d(1.2, 1.2, 1.2);*/
	transform: translateX(30px);
	display: inline-block;
}
.gallery .showing{
	opacity: 1;
	transform: translateX(0px);
	/*transform: scale3d(1, 1, 1);*/
}